#gmoshowtime {
  /* wp-admin 782px */ }
  #gmoshowtime .helplink {
    display: none; }
    @media screen and (max-width: 960px) {
      #gmoshowtime .helplink {
        display: block; } }
  #gmoshowtime #mainpreview {
    margin-top: 40px; }
  #gmoshowtime #transitions-settings {
    margin-top: 2em; }
  #gmoshowtime #transitions {
    overflow: auto; }
  #gmoshowtime h3 {
    padding: 8px 0;
    margin-top: 3em;
    border-bottom: 3px double #cccccc; }
