@mixin htitle {  
  font-weight:normal;
  border-bottom:3px solid #ccc;
  padding: 0 0 6px 6px;
}

@mixin clearfix {
	  &:after {
		  content: ".";
		  display: block;
		  clear: both;
		  height: 0;
		  visibility: hidden;
        }
}

#wpwrap{
	background:#ffffff;	
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    background-color: #222222;
	z-index:0;
}

#gmoshowtime {
	$wpadmin-break-point: 960px; /* wp-admin 782px */
	//$background: #f3f3f3;
	
	@include clearfix;
  
	width:930px;
	margin:10px 0 0 10px;

	.helplink {
		display: none;
		@media screen and (max-width: $wpadmin-break-point) {
			display: block;
		}
}

	#mainpreview {
		margin-top: 40px;
	}

	#transitions-settings {
		margin-top: 2em;
	}
	#transitions {
		//overflow: auto;
	}
	h3 {
		@include htitle; 
    }
	h4,
	.form-table th{
		font-size:14px;
		font-weight:normal;	
	}
	
	#gmoplugLeft{
		float:left;
		width:650px;
	}
	
 #gmoplugRight{
	 float:right;
	 width:246px;
	 background:url(../images/wpcloud_bg.gif) ;
	 border:2px solid #c8c0ae;
	 color:#726851;
	 
	 p.title{
		background-color:#c8c0ae; 
		color:#726851;
		font-size:23px;
		font-weight:bold;
		margin:0;
		text-align:center;
		line-height:56px;
	 }
	 
	 div{
		 padding: 0 18px 54px;
		 
		 h3{
			font-size:14px;
			font-weight:bold;
			color:#726851;
			padding:0;
			border:0;
			margin: 23px 0 8px; 
		 }
		 p{
			font-size:14px;
			line-height:20px; 
			margin: 5px 0 33px;
		 }
		 a.logo{
			display: block;
			text-align: center;
			padding: 22px 0 0;
		 }
		 
	 }
	 
 }/* #gmoplugRight */
}
