#gmoshowtime {
	$wpadmin-break-point: 960px; /* wp-admin 782px */
	$background: #f3f3f3;

	.helplink {
		display: none;
		@media screen and (max-width: $wpadmin-break-point) {
			display: block;
		}
}

	#mainpreview {
		margin-top: 40px;
	}

	#transitions-settings {
		margin-top: 2em;
	}
	#transitions {
		overflow: auto;
	}
	h3 {
		padding: 8px 0;
		margin-top: 3em;
		border-bottom: 3px double #cccccc;
    }
}
